In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

df = pd.read_csv(r"C:\Users\Meher Bamrah\Desktop\Dataset.csv")

In [2]:
print("The following is the Toyota Corolla Dataset : \n")
print(df.head())
print("/n")
print(df.info())

The following is the Toyota Corolla Dataset :

   Id                                           Model  Price  Age_08_04  \
0   1   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500         23
1   2   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750         23
2   3  ?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950         24
3   4   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950         26
4   5     TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750         30

   Mfg_Month  Mfg_Year     KM Fuel_Type  HP  Met_Color  ...  Central_Lock  \
0         10      2002  46986    Diesel  90          1  ...             1
1         10      2002  72937    Diesel  90          1  ...             1
2          9      2002  41711    Diesel  90          1  ...             0
3          7      2002  48000    Diesel  90          0  ...             0
4          3      2002  38500    Diesel  90          0  ...             1

   Powered_Windows  Power_Steering  Radio  Mistlamps  Sport_Model  \
0                1               1      0          0            0
1                0               1      0          0            0
2                0               1      0          0            0
3                0               1      0          0            0
4                1               1      0          1            0

   Backseat_Divider  Metallic_Rim  Radio_cassette  Tow_Bar
0                 1             0               0        0
1                 1             0               0        0
2                 1             0               0        0
3                 1             0               0        0
4                 1             0               0        0

[5 rows x 37 columns]
/n
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1436 non-null   int64
 1   Model             1436 non-null   object
 2   Price             1436 non-null   int64
 3   Age_08_04         1436 non-null   int64
 4   Mfg_Month         1436 non-null   int64
 5   Mfg_Year          1436 non-null   int64
 6   KM                1436 non-null   int64
 7   Fuel_Type         1436 non-null   object
 8   HP                1436 non-null   int64
 9   Met_Color         1436 non-null   int64
 10  Automatic         1436 non-null   int64
 11  cc                1436 non-null   int64
 12  Doors             1436 non-null   int64
 13  Cylinders         1436 non-null   int64
 14  Gears             1436 non-null   int64
 15  Quarterly_Tax     1436 non-null   int64
 16  Weight            1436 non-null   int64
 17  Mfr_Guarantee     1436 non-null   int64
 18  BOVAG_Guarantee   1436 non-null   int64
 19  Guarantee_Period  1436 non-null   int64
 20  ABS               1436 non-null   int64
 21  Airbag_1          1436 non-null   int64
 22  Airbag_2          1436 non-null   int64
 23  Airco             1436 non-null   int64
 24  Automatic_airco   1436 non-null   int64
 25  Boardcomputer     1436 non-null   int64
 26  CD_Player         1436 non-null   int64
 27  Central_Lock      1436 non-null   int64
 28  Powered_Windows   1436 non-null   int64
 29  Power_Steering    1436 non-null   int64
 30  Radio             1436 non-null   int64
 31  Mistlamps         1436 non-null   int64
 32  Sport_Model       1436 non-null   int64
 33  Backseat_Divider  1436 non-null   int64
 34  Metallic_Rim      1436 non-null   int64
 35  Radio_cassette    1436 non-null   int64
 36  Tow_Bar           1436 non-null   int64
dtypes: int64(35), object(2)
memory usage: 415.2+ KB
None

In [3]:
print("\nMissing values before handling:")
print(df.isnull().sum())

Missing values before handling:
Id                  0
Model               0
Price               0
Age_08_04           0
Mfg_Month           0
Mfg_Year            0
KM                  0
Fuel_Type           0
HP                  0
Met_Color           0
Automatic           0
cc                  0
Doors               0
Cylinders           0
Gears               0
Quarterly_Tax       0
Weight              0
Mfr_Guarantee       0
BOVAG_Guarantee     0
Guarantee_Period    0
ABS                 0
Airbag_1            0
Airbag_2            0
Airco               0
Automatic_airco     0
Boardcomputer       0
CD_Player           0
Central_Lock        0
Powered_Windows     0
Power_Steering      0
Radio               0
Mistlamps           0
Sport_Model         0
Backseat_Divider    0
Metallic_Rim        0
Radio_cassette      0
Tow_Bar             0
dtype: int64